blib*
Build
Build.bat
_build*
*.tar.gz
*.bak
MANIFEST
META.yml
META.json
MYMETA.yml
MYMETA.json
img*
blb*
blbconv*
UNDATA*
*.txt
unshare*
*.o
lib/Games/Neverhood/*.c
lib/Games/Neverhood/*.xs
lib/Games/Neverhood/typemap
nhc.pl
