!.gitignore
!.gitattributes
.*
blib*
Build
Build.bat
_build*
*.tar.gz
*.bak
MANIFEST
META.yml
META.json
MYMETA.yml
MYMETA.json
*.txt
*.o
lib/Games/Neverhood/*.c
lib/Games/Neverhood/*.xs
lib/Games/Neverhood/typemap
checksums.yaml
*.old
*~

